<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "掲示板アプリ" }}</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>
    <h1><a href="/threads/list">掲示板のロゴ</a></h1>


    <!-- 検索フォーム -->
    <form action="/threads/search" method="get" class="search-area">
        <input type="text" name="keyword" placeholder="検索ボックス">
        <button type="submit">検索</button>
    </form>

    <hr>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer style="margin-top: 40px; font-size: 12px; color: #666;">
    ©2025 掲示板アプリ
</footer>

</body>
</html>