{% extends "base.html" %}
<hr>
{% block content %}
<script>
    function repost_no(num,hidden_num){
        const elm = document.getElementById("parent_post_id");
        elm.value = num;
        document.getElementById("parent_post_id_hidden").value = hidden_num;
        window.scrollTo( {top: elm.offsetTop, behavior:'smooth'});

    }

</script>
<div class="section-box">
<!--先頭の投稿-->
{% if first_post %}
<div class="first-post">
    {{ first_post.post_number }}:<strong>{{ first_post.author }}</strong><br>
    {{ first_post.content }}<br>
    <small>{{ first_post.created_at }}</small>
    {% if first_post.attachment %}
    <div class="attachment">
        <img src="/static/uploads/{{ first_post.attachment }}"
                style="max-width: 300px; border: 1px solid #ccc;">
    </div>
    {% endif %}
</div>
<hr>
{% endif %}
<!--ページネーションされた投稿-->
{% for post in posts %}
<div class="post">
    {{ post.post_number }}:<strong>{{ post.author }}</strong><br>
    {% if post.parent_post_number %}
        >>{{ post.parent_post_number }}
    {% endif %}
    {{ post.content }}<br>
    <small>日時：{{ post.created_at }}</small>
    {% if post.attachment %}
    <div class="attachment">
        <img src="/static/uploads/{{ post.attachment }}"
                style="max-width: 300px; border: 1px solid #ccc;">
    </div>
    {% endif %}
    <a onclick="repost_no({{post.post_number}},{{post.id}})">返信</a>
</div>
<hr>
{% endfor %}
<hr>

{% set _page = page %}
{% set _total_pages = total_pages %}
{% set _base_url = "/threads/" ~ thread_id ~ "/view" %}
{% include "common/pagination.html" %}

<hr>

<h2>投稿フォーム</h2>
<form action="/threads/{{thread_id}}/post" method="post" enctype="multipart/form-data" class="standard-form">

    <!-- 返信番号 -->
    <label for="parent_post_id">返信番号（任意）</label>
    <input type="text" id="parent_post_id" name="parent_post_id">
    <input type="hidden" id="parent_post_id_hidden" name="parent_post_id_hidden">


    <!-- 名前（任意） -->
    <label for="author">名前（任意）</label>
    <input type="text" id="author" name="author" placeholder="未入力なら『名無しさん』扱い">

    <!-- 本文（必須） -->
    <label for="content">本文（必須）</label>
    <textarea id="content" name="content" rows="8" required></textarea>

    <!-- 画像添付（後で実装） -->
    <label for="image">画像添付（任意）</label>
    <div class="image-box">
        <input type="file" id="image" name="image" accept=".jpg,.png,.gif">
        <span class="file-info">※jpg / png / gif 2MBまで（後で決める必要あり）</span>
    </div>

    <div class="buttons">
        <button type="submit" class="btn-create">作成する</button>
        <button type="reset" class="btn-reset">リセット</button>
    </div>

</form>

{% endblock %}